<li class="dropdown-header">시작하며</li>
<li><a href="intro.html">들어가며</a></li>
<li><a href="package.html">팩키지 구조</a></li>
<li class="dropdown-header">팩키지 구성요소</li>
<li><a href="r.html"> (<code>R/</code>) 코드</a></li>
<li><a href="description.html">팩키지 메타데이터 (<code>DESCRIPTION</code>)</a></li>
<li><a href="man.html">객체 문서화 (<code>man/</code>)</a></li>
<li><a href="vignettes.html">소품문 (<code>vignettes/</code>)</a></li>
<li><a href="tests.html">테스팅 (<code>tests/</code>)</a></li>
<li><a href="namespace.html">네임스페이스 (<code>NAMESPACE</code>)</a></li>
<li><a href="data.html">외부 데이터 (<code>data/</code>)</a></li>
<li><a href="src.html">컴파일된 코드 (<code>src/</code>)</a></li>
<li><a href="inst.html">설치된 파일 (<code>inst/</code>)</a></li>
<li><a href="misc.html">다른 컴포넌트</a></li>
<li class="dropdown-header">모범사례</li>
<li><a href="git.html">Git 와 GitHub</a></li>
<li><a href="check.html">자동검사</a></li>
<li><a href="release.html">팩키지 출시</a></li>
